html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

#root, #app {
  height: 100%;
}

.loader {
  max-width: 1222px;
  min-width: 320px;
  margin: 0 auto;
}

.loader__inner {
  margin-top: 7px;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.loader__crumb {
  width: 9px;
  height: 9px;
  margin-right: 6px;
  background-color: #4169e1;
  border-radius: 50%;
  opacity: 0;
}

.loader__crumb:last-child {
  margin-right: 0;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translateX(-110px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(110px);
  }
}

.loader__crumb:nth-child(6) {
  animation: load 3s infinite ease-in-out;
}

.loader__crumb:nth-child(5) {
  animation: load 3s 100ms infinite ease-in-out;
}

.loader__crumb:nth-child(4) {
  animation: load 3s 200ms infinite ease-in-out;
}

.loader__crumb:nth-child(3) {
  animation: load 3s 300ms infinite ease-in-out;
}

.loader__crumb:nth-child(2) {
  animation: load 3s 400ms infinite ease-in-out;
}

.loader__crumb:nth-child(1) {
  animation: load 3s 500ms infinite ease-in-out;
}

@media (min-width: 630px) {
  @keyframes load {
    0% {
      opacity: 0;
      transform: translateX(-260px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(260px);
    }
  }
}

.button {
  min-height: 46px;
  padding: 12.5px 12.5px 12.5px 33.5px;
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: #4169e1;
  font-weight: bold;
  line-height: 0;
  color: #ffffff;
  vertical-align: middle;
}

.button:hover {
  transition: 0.5s ease-in-out;
}

.button:focus {
  outline: none;
  transition: none;
}

.button__subtitle {
  display: none;
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 630px) {
  .button {
    padding-left: 46px;
  }
  .button__subtitle {
    display: inherit;
  }
}

.modal {
  display: none;
  pointer-events: none;
}

.modal--show {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(250, 250, 250, 0.7);
  pointer-events: auto;
}

.modal__wrapper {
  max-width: 400px;
  max-height: 391px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 12.74px 0.26px rgba(13, 13, 13, 0.1);
}

.modal__title {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #7090f0;
  font-size: 20px;
  color: #4169e1;
  text-align: center;
}

.modal__form {
  padding: 28px 28px 0 28px;
}

.modal__form-inner {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__subtitle {
  margin-bottom: 8px;
  font-weight: bold;
  color: #494a4b;
  cursor: pointer;
}

.modal__enter {
  height: 28px;
  padding: 8px 13px;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  color: #494a4b;
  cursor: text;
}

.modal__enter:focus {
  border: 1px solid transparent;
  outline: 2px solid #7090f0;
}

.modal__button-wrapper {
  padding-top: 12px;
  display: flex;
  justify-content: space-around;
}

.modal__button {
  margin-right: 0;
  padding-left: 12.5px;
  border: 1px solid transparent;
}

.modal__close-btn {
  background-color: transparent;
  color: #4169e1;
}

.modal__close-btn:hover {
  border: 1px solid #7090f0;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.modal__close-btn:focus {
  border: 1px solid #7090f0;
  background-color: transparent;
}

.modal__add-btn:hover {
  background-color: #2de294;
}

.modal__add-btn:focus {
  background-color: #2de294;
}

.page-header {
  background-color: #4169e1;
}

.page-header__wrapper {
  max-width: 1206px;
  min-height: 49px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__list {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.page-main {
  transition: margin-top 0.3s ease-in-out;
}

.page-main--calendar-open {
  margin-top: 301px;
}

.page-main__header {
  max-width: 1206px;
  margin: 0 auto;
  margin-top: 3px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-main__add-button:hover {
  background-color: #2de294;
}

.page-main__add-button:focus {
  background-color: #2de294;
}

.calendar__button:hover {
  background-color: #7090f0;
}

.calendar__button:focus {
  outline: 2px solid #ffffff;
  background-color: #7090f0;
}

.calendar__button--open {
  background-color: #7090f0;
}

.calendar__slider {
  display: none;
}

@keyframes slideIn {
  0% {
    z-index: -999;
    transform: translateY(-100%);
  }
  100% {
    z-index: 0;
    transform: translateY(0);
  }
}

.calendar__slider--open {
  width: calc(100% - 32px);
  max-width: 1190px;
  height: 268px;
  margin: 0 auto;
  padding: 15px 8px;
  display: block;
  position: absolute;
  top: 65px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #494a4b;
  animation: slideIn 0.3s ease-in-out;
}

.react-datepicker {
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: #494a4b;
}

.react-datepicker__aria-live {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip-path: circle(0);
}

.react-datepicker__navigation {
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  z-index: 1;
  border: none;
  background: none;
  text-align: center;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: #4169e1;
  transition: 0.5s ease-in-out;
}

.react-datepicker__navigation:focus {
  outline: none;
}

.react-datepicker__navigation:focus .react-datepicker__navigation-icon::before {
  border-color: #4169e1;
}

.react-datepicker__navigation--previous {
  left: 30px;
}

.react-datepicker__navigation--next {
  right: 30px;
}

.react-datepicker__navigation-icon {
  width: 0;
  position: relative;
  top: -1px;
}

.react-datepicker__navigation-icon::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 6px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #c4c4c4;
}

.react-datepicker__navigation-icon--previous {
  right: -2px;
}

.react-datepicker__navigation-icon--previous::before {
  right: -7px;
  transform: rotate(225deg);
}

.react-datepicker__navigation-icon--next {
  left: -2px;
}

.react-datepicker__navigation-icon--next::before {
  left: -7px;
  transform: rotate(45deg);
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.react-datepicker__day-names {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-name {
  min-width: 19px;
  padding: 3px 2.5%;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.react-datepicker__week {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day {
  min-width: 19px;
  padding: 5px 1.3% 1px 1.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  color: #494a4b;
  cursor: pointer;
}

.react-datepicker__day::after {
  content: "";
  width: 4px;
  height: 4px;
  margin-left: 1px;
  border-radius: 50px;
  background-color: transparent;
}

.react-datepicker__day:hover {
  background-color: #4169e1;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}

.react-datepicker__day:focus {
  outline: none;
  background-color: #4169e1;
  color: #ffffff;
}

.react-datepicker__day--highlighted::after {
  background-color: #2de294;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected.react-datepicker__day--outside-month {
  background-color: #4169e1;
  color: #ffffff;
}

.react-datepicker__day--outside-month {
  color: #9e9e9e;
}

.react-datepicker__today-button {
  width: 93%;
  height: calc(100% - 2.5px);
  margin: 0 auto;
  margin-top: 5px;
  padding: 2px 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.react-datepicker__today-button:hover {
  background-color: #4169e1;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}

@media (min-width: 630px) {
  .react-datepicker {
    width: 75%;
  }
  .react-datepicker__navigation {
    top: 50%;
  }
  .react-datepicker__navigation--previous {
    left: -10%;
  }
  .react-datepicker__navigation--next {
    right: -10%;
  }
}

.search {
  width: 100%;
  max-width: 500px;
  margin: 0 8px;
}

.search__form {
  position: relative;
}

.search__button {
  width: 43px;
  height: 43px;
  padding: 0;
  position: absolute;
  top: 0;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.search__button:focus {
  outline: none;
}

.search__button:hover svg, .search__button:focus svg {
  stroke: #ffffff;
  transition: 0.5s ease-in-out;
}

.search__enter {
  width: calc(100% - 86px);
  height: 37px;
  padding: 3px 43px;
  border: none;
  border-radius: 10px;
  background-color: #7090f0;
  color: #ffffff;
}

.search__enter::-moz-placeholder {
  color: #cfdfdf;
}

.search__enter::placeholder {
  color: #cfdfdf;
}

.search__enter:focus {
  outline: 2px solid #ffffff;
}

.search__delete-btn {
  display: none;
}

.search__delete-btn--show {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

.counter {
  margin: 0 12.5px;
  font-weight: bold;
}

.counter__number {
  color: #ddecec;
}

.counter__text {
  display: none;
}

@media (min-width: 630px) {
  .counter__text {
    margin-left: 12.5px;
    display: inline;
    color: #ffffff;
  }
}

.filter__list {
  min-height: 54px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.filter__item {
  position: relative;
}

.filter__input {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-left: 15px;
  position: absolute;
  opacity: 0;
}

.filter__input:checked + .filter__button {
  color: #4169e1;
}

.filter__input:checked + .filter__button::after {
  width: 100%;
}

.filter__input:checked + .filter__button .filter__icon {
  stroke: #7090f0;
}

.filter__button {
  margin-right: 30px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  position: relative;
  border-radius: 0;
  background-color: transparent;
  color: #9e9e9e;
  overflow: hidden;
  cursor: pointer;
}

.filter__button:hover {
  border-radius: 0;
  background: none;
  color: #4169e1;
}

.filter__button:hover .button__icon {
  stroke: #7090f0;
  transition: 0.5s ease-in-out;
}

.filter__button::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #7090f0;
  transition: opacity 0.5s, width 0.5s;
}

.tasker__list {
  max-width: 1222px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.tasker__inner {
  margin: 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.tasker__title {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  color: #494a4b;
}

.tasker__content {
  display: flex;
  align-items: center;
}

.tasker__content-text {
  margin: 0 15px;
  position: relative;
}

.tasker__toggle {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.tasker__toggle:checked ~ .tasker__subtitle {
  -webkit-text-decoration: line-through wavy #4169e1;
          text-decoration: line-through wavy #4169e1;
  color: #9e9e9e;
}

.tasker__toggle:checked ~ .tasker__toggle-icon {
  stroke: #9e9e9e;
}

.tasker__toggle:checked ~ .tasker__checkmark-icon {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 20s ease-out;
}

.tasker__toggle:focus ~ .tasker__toggle-icon {
  stroke: #4169e1;
  stroke-width: 2px;
}

.tasker__subtitle {
  margin: 10px 0 10px 31px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
  color: #494a4b;
  cursor: pointer;
}

.tasker__subtitle:hover {
  -webkit-text-decoration: line-through wavy #4169e1;
          text-decoration: line-through wavy #4169e1;
}

.tasker__datetime {
  margin-top: 6px;
  font-size: 14px;
  color: #9e9e9e;
}

.tasker__toggle-icon {
  position: absolute;
  z-index: 0;
  cursor: pointer;
}

.tasker__checkmark-icon {
  position: absolute;
  z-index: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.tasker__edit-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.tasker__edit-btn:focus {
  outline: none;
}

.tasker__edit-btn:focus svg, .tasker__edit-btn:hover svg {
  fill: #ffbe33;
  transition: 0.6s ease-out;
}

.tasker__delete-btn {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.tasker__delete-btn:focus {
  outline: none;
}

.tasker__delete-btn:focus svg, .tasker__delete-btn:hover svg {
  stroke: #d81b15;
  transition: 0.6s ease-out;
}

