.calendar__button:hover {
  background-color: $hover-color;
}

.calendar__button:focus {
  outline: 2px solid $button-color;
  background-color: $hover-color;
}

.calendar__button--open {
  background-color: $hover-color;
}

@keyframes slideIn {
  0% {
    z-index: -999;
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    z-index: 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.calendar__slider {
  width: calc(100% - 32px);
  max-width: 1190px;
  height: 256px;
  margin: 0 auto;
  padding: 15px 8px;
  position: absolute;
  top: 65px;
  border-radius: 5px;
  background-color: $block-bg;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  color: $text-color;
  animation: slideIn 0.3s ease-in-out;
}
