.button {
  min-height: 46px;
  padding: 12.5px 12.5px 12.5px 33.5px;
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: $basis-color;
  font-weight: bold;
  line-height: 0;
  color: $button-color;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
    transition: 0.5s ease-in-out;
  }
  &:focus {
    background-color: $hover-color;
    outline: none;
    transition: none;
  }
}

.button-add {
  &:hover {
    background-color: $highlight-color;
  }
  &:focus {
    background-color: $highlight-color;
  }
}

.button-filter {
  padding: 13.5px 12.5px 13.5px 33.5px;
  margin-right: 3px;
  border-radius: 0;
  background-color: transparent;
  color: $disabled-color;
  &:hover {
    border-radius: 0;
    background: none;
    color: $basis-color;
  }
  &:hover .button__icon {
    stroke: $hover-color;
    transition: 0.5s ease-in-out;
  }
}

.button-close {
  background-color: transparent;
  color: $basis-color;
  &:hover {
    border: 1px solid $hover-color;
    background-color: transparent;
    transition: 0.5s ease-in-out;
  }
  &:focus {
    border: 1px solid $hover-color;
    background-color: transparent;
  }
}

.button__subtitle {
  display: none;
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .button {
    padding-left: 46px;
  }

  .button__subtitle {
    display: inherit;
  }
}