.button {
  min-height: 46px;
  padding: 12.5px;
  padding-left: 33.5px;
  margin-right: 3px;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  color: $button-color;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
    transition: 0.5s ease-in-out;
  }
  &:focus {
    outline: 2px solid $button-color;
    transition: none;
  }
}

.button-add {
  width: 51px;
  height: 51px;
  padding: 0;
  line-height: 0;
  border: none;
  border-radius: 5px;
  background-color: $highlight-color;
  vertical-align: middle;
  &:focus {
    outline: 2px solid $button-color;
  }
  &:focus svg, &:hover svg {
    fill: $button-color;
    transition: 0.5s ease-in-out;
  }
}

.button-close {
  background-color: transparent;
  color: $basis-color;
  &:hover {
    border: 1px solid $hover-color;
    background-color: transparent;
    transition: 0.5s ease-in-out;
  }
  &:focus {
    border: 1px solid $hover-color;
  }
}

.button-save {
  background-color: $basis-color;
  &:hover {
    background-color: $highlight-color;
  }
  &:focus {
    background-color: $highlight-color;
  }
}

.button__subtitle {
  display: none;
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .button {
    padding-left: 48px;
  }

  .button__subtitle {
    display: inherit;
  }
}