.filter__list {
  min-height: 54px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.filter__item {
  position: relative;
}

.filter__input {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-left: 15px;
  position: absolute;
  opacity: 0;
  &:checked + .filter__button {
    color: $basis-color;
  }
  &:checked + .filter__button::after {
    width: 100%;
  }
  &:checked + .filter__button .filter__icon {
    stroke: $hover-color;
  }
}

.filter__button {
  margin-right: 30px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  position: relative;
  border-radius: 0;
  background-color: transparent;
  color: $disabled-color;
  overflow: hidden;
  &:hover {
    border-radius: 0;
    background: none;
    color: $basis-color;
  }
  &:hover .button__icon {
    stroke: $hover-color;
    transition: 0.5s ease-in-out;
  }
  &::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $hover-color;
    transition: opacity 0.5s, width 0.5s;
  }
}
