.main__header {
  max-width: 974px;
  margin: 0 auto;
  margin-top: 3px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__add-button {
  &:hover {
    background-color: $highlight-color;
  }
  &:focus {
    background-color: $highlight-color;
  }
}