.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(250, 250, 250, 0.7);
  pointer-events: none;
}

.modal--show {
  display: block;
  pointer-events: auto;
}

.modal__wrapper {
  max-width: 428px;
  max-height: 416px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: $block-bg;
  box-shadow: 0px 0.5px 12.74px 0.26px rgba(13, 13, 13, 0.1);
}

.modal__title {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid $hover-color;
  font-size: 22px;
  color: $basis-color;
  text-align: center;
}

.modal__form {
  padding: 28px 28px 0 28px;
}

.modal__form-inner {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__subtitle {
  margin-bottom: 8px;
  font-weight: bold;
  color: $basis-color;
  cursor: pointer;
}

.modal__enter {
  padding: 13px;
  border: 1px solid $text-color;
  border-radius: 5px;
  color: $text-color;
  cursor: text;
  &::placeholder {
    width: 100%;
  }
  &:focus {
    border: 1px solid transparent;
    outline: 2px solid $hover-color;
  }
}

.modal__button-wrapper {
  padding-top: 12px;
  display: flex;
  justify-content: space-around;
}

.modal__button {
  margin-right: 0;
  padding-left: 12.5px;
  border: 1px solid transparent;
}