.search {
  width: 100%;
  max-width: 500px;
  margin: 0 8px;
}

.search__form {
  position: relative;
}

.search__button {
  width: 43px;
  height: 43px;
  padding: 0;
  position: absolute;
  top: 0;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover svg, &:focus svg {
    stroke: $button-color;
    transition: 0.5s ease-in-out;
  }
}

.search__delete-btn {
  right: 0;
}

.search__enter {
  width: calc(100% - 86px);
  height: 37px;
  padding: 3px 43px;
  border: none;
  border-radius: 10px;
  background-color: $hover-color;
  color: $button-color;
  &::placeholder {
    color: #cfdfdf;
  }
  &:focus {
    outline: 2px solid $button-color;
  }
}
