.search {
  width: 66%;
  margin: 0 3px;
}

.search__form {
  position: relative;
}

.search__button {
  width: 46px;
  height: 46px;
  padding: 0;
  position: absolute;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: 2px solid $button-color;
    transition: none;
  }
}

.search__enter {
  width: 100%;
  height: 46px;
  padding: 3px 12.5px;
  padding-left: 46px;
  border: none;
  border-radius: 5px;
  background-color: $hover-color;
  color: $button-color;
  &::placeholder {
    font-weight: bold;
    color: $highlight-color;
  }
  &:focus {
    outline: 2px solid $button-color;
  }
}
