.tasker__list {
  max-width: 1222px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.tasker__item {
  margin: 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: $block-bg;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: move;
}

.tasker__inner {
  display: flex;
  align-items: center;
}

.tasker__inner-text {
  margin: 0 15px;
  position: relative;
}

.tasker__toggle {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  &:checked ~ .tasker__subtitle {
    text-decoration: line-through wavy $basis-color;
    color: $disabled-color;
  }
  &:checked ~ .tasker__toggle-icon {
    stroke: $disabled-color;
  }
  &:checked ~ .tasker__checkmark-icon {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 20s ease-out;
  }
  &:focus ~ .tasker__toggle-icon {
    stroke: $basis-color;
    stroke-width: 2px;
  }
}

.tasker__subtitle {
  margin: 10px 0 10px 31px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
  color: $text-color;
  cursor: pointer;
  &:hover {
    text-decoration: line-through wavy $basis-color;
  }
}

.tasker__datetime {
  margin-top: 6px;
  font-size: 14px;
  color: $disabled-color;
}

.tasker__toggle-icon {
  position: absolute;
  z-index: 0;
  cursor: pointer;
}

.tasker__checkmark-icon {
  position: absolute;
  z-index: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.tasker__edit-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:focus svg, &:hover svg {
    fill: #ffbe33;
    transition: 0.6s ease-out;
  }
}

.tasker__delete-btn {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:focus svg, &:hover svg {
    stroke: #d81b15;
    transition: 0.6s ease-out;
  }
}

