html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.selected {
  opacity: 0.6;
}

.events {
  pointer-events: none;
}

.hidden {
  display: none;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
