.page-header {
  background-color: $basis-color;
}

.page-header__wrapper {
  max-width: 1206px;
  min-height: 49px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__list {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.page-main {
  transition: margin-top 0.3s ease-in-out;
}

.page-main--calendar-open {
  margin-top: 289px;
}

.page-main__header {
  max-width: 1206px;
  margin: 0 auto;
  margin-top: 3px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-main__add-button {
  &:hover {
    background-color: $highlight-color;
  }
  &:focus {
    background-color: $highlight-color;
  }
}