.counter {
  margin: 0 12.5px;
  font-weight: bold;
}

.counter__number {
  color: #ddecec;
}

.counter__text {
  display: none;
  color: $button-color;
}

@media (min-width: $tablet-width) {
  .counter__text {
    margin-left: 12.5px;
    display: inline;
  }
}