.tasker {
  margin-bottom: 5%;
}

.tasker__header {
  width: 45%;
  min-width: 280px;
  margin: 0 auto;
}

.tasker__title {
  margin: 5% 0;
  text-align: center;
  color: #54849b;
  text-shadow: 
  -1px -1px #ffffff,
  -2px -2px #ffffff,
  -1px 1px #ffffff,
  -2px 2px #ffffff,
  1px 1px #ffffff,
  2px 2px #ffffff,
  1px -1px #ffffff,
  2px -2px #ffffff,
  -3px -3px 2px #c9cbcc,
  -3px 3px 2px #c9cbcc,
  3px 3px 2px #c9cbcc,
  3px -3px 2px #c9cbcc;
}

.tasker__task-form {
  height: 46px;
  display: flex;
  position: relative;
}

.tasker__new-task {
  width: 100%;
  padding: 13px 95px 13px 13px;
  background-color: #6199b3;
  color: #ffffff;
  border: none;
  &:focus {
    outline: 3px solid #ffffff;
  }
}

.tasker__new-task::placeholder {
  color: #7dc4a3;
}

.tasker__type-task {
  width: 94px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding-left: 11px;
  background-color: #6199b3;
  font-size: 16px;
  color: #ffffff;
  opacity: 0;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:focus ~ .tasker__type-mark {
    stroke: #ffffff; 
  }
}

.tasker__type-option--color {
  color: #7dc4a3;
}

.tasker__type-mark {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 46px;
  bottom: 0;
  z-index: 1;
}

.tasker__add-btn {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0;
  background-color: #8fdab7;
  line-height: 0;
  border: none;
  &:focus {
    outline: 3px solid #ffffff;
  }
  &:focus svg {
    fill: #ffffff;
  }
}

.tasker__main {
  width: 45%;
  min-width: 280px;
  margin: 0 auto;
}

.tasker__task-list {
  padding: 0;
  margin: 0;
}

.tasker__task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  background-color: #ffffff; 
  cursor: move;
}

.tasker__task-text {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-left: 15px;
  color: #494a4b;
}

.tasker__toggle {
  width: 16px;
  height: 16px;
  position: absolute;  
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  &:checked ~ .tasker__subtitle {
    color: #c9cbcc;
    text-decoration: line-through wavy #6199b3;
  }
  &:checked ~ .tasker__toggle-icon {
    stroke: #c9cbcc;
  }
  &:checked ~ .tasker__checkmark-icon {
    animation: write 20s ease-out forwards;
    opacity: 1;
    visibility: visible;
  }
  &:focus ~ .tasker__toggle-icon {
    stroke: #6199b3;
    stroke-width: 3px; 
  } 
}

.tasker__subtitle {
  margin-left: 31px;
  padding: 15px 0;
  cursor: pointer;
  &:hover {
    text-decoration: line-through wavy #6199b3;
  }
}

.tasker__toggle-icon {
  position: absolute;  
  z-index: 0;
  cursor: pointer;
}

.tasker__checkmark-icon {
  position: absolute;  
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes write {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.tasker__task-icons {
  display: flex;
  align-items: center;
  margin: 0;
}

.tasker__type-icon {
  margin-left: 7px;
  background-color: #ffe9da;
  border-radius: 50px;
  box-shadow: inset 0 0 0 7px #ffffff;
}

.tasker__delete-btn {
  width: 16px;
  height: 16px;
  margin: 0 15px;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;
  &:focus {
    outline: none;
  }
  &:focus svg, &:hover svg {
    stroke: #d81b15;
    transition: 0.6s ease-out;
  }
}

