body {
  margin: 0;
  padding: 0;
  background-color: #ffe9da;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.selected {
  opacity: 0.6;  
}

.events {
  pointer-events: none;
}