html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  background: linear-gradient(to bottom, #ffe0c6, #d3f5f5);
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.selected {
  opacity: 0.6;  
}

.events {
  pointer-events: none;
}

