.button {
  min-height: 46px;
  padding: 12.5px 12.5px 12.5px 33.5px;
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: $basis-color;
  font-weight: bold;
  line-height: 0;
  color: $button-color;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    transition: 0.5s ease-in-out;
  }
  &:focus {
    outline: none;
    transition: none;
  }
}

.button__subtitle {
  display: none;
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .button {
    padding-left: 46px;
  }

  .button__subtitle {
    display: inherit;
  }
}