html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  background-color: $background-color;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

#root, #app {
  height: 100%;
}

