$tablet-width: 630px;

$background-color: #f5f5f5;
$basis-color: #4169e1;
$hover-color: #7090f0;
$highlight-color: #2de294;
$button-color: #ffffff;
$block-bg: #ffffff;
$text-color: #494a4b;
$disabled-color: #9e9e9e;
